{% extends "pages/index.html" %}

{% block content %}
  {% for category, message in good_messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
  {% for category, message in info_messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %}
  {% for category, message in bad_messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайт: {{ url.name }}</h1>
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
          <tbody>
            <tr>
              <td>ID</td>
              <td>{{ url.id }}</td>
            </tr>
            <tr>
              <td>Имя</td>
              <td>{{ url.name }}</td>
            </tr>
            <tr>
              <td>Дата создания</td>
              <td>{{ url.created_at }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="mt-5 mb-3">Проверки</h2>
      <form method="post" action="{{ url_for('post_check', id=url['id']) }}">
        <input type="submit" class="btn btn-primary" value="Запустить проверку">
      </form>
      <div>
        <table class="table table-bordered table-hover mt-2" data-test="checks">
          <thead>
            <tr>
              <th>ID</th>
              <th>Код ответа</th>
              <th>h1</th>
              <th>title</th>
              <th>description</th>
              <th>Дата создания</th>
            </tr>
          </thead>
          <tbody>
            {% if checks %}
              {% for check in checks %}
                <tr>
                  <td>{{ check.id if check.id is not none else '' }}</td>
                  <td>{{ check.status_code if check.status_code is not none else '' }}</td>
                  <td>{{ check.h1 if check.h1 is not none else '' }}</td>
                  <td>{{ check.title if check.title is not none else '' }}</td>
                  <td>{{ check.description if check.description is not none else '' }}</td>
                  <td>{{ check.created_at if check.created_at is not none else '' }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>

    </div>
  </main>
{% endblock %}