{% extends "pages/index.html" %}

{% block content %}  
  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайты</h1>
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
          <thead>
            <tr>
              <th>ID</th>
              <th>Имя</th>
              <th>Последняя проверка</th>
              <th>Код ответа</th>
            </tr>
          </thead>
          <tbody>
            {% if urls %}
              {% for url in urls %}
                <tr>
                  <td>{{ url['id'] }}</td>
                  <td>
                    <a href="{{ url_for('get_url', id=url['id']) }}">
                      {{ url['name'] }}
                    </a>
                  </td>
                  <td>
                    {{ url['created_at'] if url['created_at'] is not none else '' }}
                  </td>
                  <td>
                    {{ url['status_code'] if url['status_code'] is not none else '' }}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock %}